<!DOCTYPE html>
<html lang="en">
<headtests
    <meta charset="UTF-8">
    <title>Тестирование рекрута</title>
    <style>
   #centerLayer {
    position: absolute; /* Абсолютное позиционирование */
    width: 50%; /* Ширина слоя в пикселах */
    height: 50%; /* Высота слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    top: 50%; /* Положение слоя от верхнего края */
    margin-left: -150px; /* Отступ слева */
    margin-top: -100px;	/* Отступ сверху */
   }
    </style>
</head>
<body>
<a href="{% url 'authorization' %}">На главную</a>

<form method="POST" class="post-form" id="centerLayer">{% csrf_token %}
    <table>
  <tr>
    <td>
      <table>
        <tr><td>Вопросы</td></tr>
          {% for question in questions %}
        <tr colspan="2"><td>{{forloop.counter}}. {{question}}</td></tr>
          {% endfor %}
       </table>
    </td>
    <td>
      <table>
        <tr><td>Ответы</td></tr>
          {% for answer in answers %}
        <tr colspan="2"><td>{{forloop.counter}}. {{answer}}</td></tr>
           {% endfor %}
      </table>
    </td>
  </tr>
</table>
<input type="checkbox" name="acceptEmployee" id="GFG"
                    value="True">Принять кандидата<br>

    <button type="submit" class="save btn btn-default">Save</button>







</form>
</body>
</html>